# ===== Configuracion del servidor =====
PORT=3000

# ===== Conexion a SQL Server (nodo QUITO) =====
DB_SERVER=localhost
# Si usas una INSTANCIA NOMBRADA (por ejemplo SQLEXPRESS), descomenta:
# DB_INSTANCE=SQLEXPRESS
# Si tu SQL Server escucha en un PUERTO estatico, descomenta:
# DB_PORT=1433

DB_NAME=Biblioteca_Quito
DB_USER=sa
DB_PASSWORD=ESCRIBE_AQUI_TU_CONTRASENA_SA

# NOTA: copia este archivo como  .env  y pon tus valores reales.
# El archivo .env NO se comparte ni se sube a ningun lado.
